/*= BookMark Bar - Reduce Height ====================================================*/
/* Original 
toolbarbutton.bookmark-item:not(.subviewbutton) {
  margin-top: 2px;
  margin-bottom: 2px;
} */
:root[uidensity="compact"] #PersonalToolbar toolbarbutton {
  margin-top: 0px; /*!important*/
  margin-bottom: 1px !important;
}

/* I'VE ADDED */
#nav-bar-customization-target > #personal-bookmarks, toolbar:not(#TabsToolbar) > #wrapper-personal-bookmarks, toolbar:not(#TabsToolbar) > #personal-bookmarks {
  -moz-box-flex: 1;
  min-height: 28px;
}