@supports not -moz-bool-pref("userChrome+Content.zavety") {
  @-moz-document url-prefix("about:addons"),
                 url-prefix(chrome://mozapps/content/extensions/aboutaddons.html),
                 url-prefix(chrome://mozapps/content/extensions/aboutaddons.xhtml) {
    /* addon-page-header[type="extension"],
    addon-list[type="extension"],
    #categories > [viewid="addons://list/extension"] { */
    addon-list[type="extension"] [addon-id="authenticator@mymindstorm"] {
      display: none !important;
    }
    addon-list[type="extension"] [addon-id="magnolia@12.34"] {
      display: none !important;
    }
    addon-list[type="extension"] [addon-id="{b86e4813-687a-43e6-ab65-0bde4ab75758}"] {
      display: none !important;
    }
    addon-list[type="extension"] [addon-id="@testpilot-containers-wildcard"] {
      display: none !important;
    }
    addon-list[type="extension"] [addon-id="redirector@einaregilsson.com"] {
      display: none !important;
    }
    addon-list[type="extension"] [addon-id="@uExtra"] {
      display: none !important;
    }
    addon-list[type="extension"] [addon-id="@windscribeff"] {
      display: none !important;
    }
    addon-list[type="extension"] [addon-id="idJohnyP@example.net"] {
      display: none !important;
    }
    [addon-id="idJohnyP@example.net"] .addon-detail-contribute {
      display: none !important;
      visibility: collapse !important;
    }
    [addon-id="idJohnyP@example.net"] .addon-detail-row-author {
      display: none !important;
      visibility: collapse !important;
    }
    [addon-id="idJohnyP@example.net"] .addon-detail-row-homepage {
      display: none !important;
      visibility: collapse !important;
    }
    addon-shortcuts > .shortcut[addon-id="authenticator@mymindstorm"] {
      display: none !important;
    }
    addon-shortcuts > .shortcut[addon-id="{b86e4813-687a-43e6-ab65-0bde4ab75758}"] {
      display: none !important;
    }
    addon-shortcuts > .shortcut[addon-id="@testpilot-containers-wildcard"] {
      display: none !important;
    }
    addon-shortcuts > .shortcut[addon-id="@uExtra"] {
      display: none !important;
    }
    addon-shortcuts > [data-l10n-id="shortcuts-no-commands"],
    addon-shortcuts > .shortcuts-no-commands-list > [addon-id="magnolia@12.34"],
    addon-shortcuts > .shortcuts-no-commands-list > [addon-id="redirector@einaregilsson.com"],
    addon-shortcuts > .shortcuts-no-commands-list > [addon-id="@windscribeff"],
    addon-shortcuts > .shortcuts-no-commands-list > [addon-id="idJohnyP@example.net"] {
      display: none !important;
    }
  }
  @-moz-document url("about:logins"),
                 url-prefix("about:logins"),
                 url-prefix("chrome://browser/content/aboutlogins/"),
                 url-prefix("chrome://browser/content/aboutlogins/aboutLogins.html") {
    /* body {
      filter: blur(1px);
    }
    body,
    input,
    button,
    select {
      cursor: default;
      pointer-events: none;
    } */
    .create-login-button-container {
      cursor: default;
      pointer-events: none;
      display: none;
    }
    #login-sort [name="last-used"],
    #login-sort [name="last-changed"] {
      display: none !important;
    }
    .menu:not([hidden]) > button.menuitem-export {
      display: none !important;
    }
    .menu:not([hidden]) > button.menuitem-import-file {
      display: none !important;
    }
    .menu:not([hidden]) > button.menuitem-remove-all-logins {
      display: none !important;
    }
    .count[data-l10n-id^="login-list"] {
      display: none !important;
    }
    login-list-item[username^="jp29ni"],
    login-list-item[username^="jycrosoft"],
    login-list-item[username^="eppincognitum"],
    login-list-item[username^="johnyp36official"],
    login-list-item[title="freebitco.in"],
    login-list-item[title="github.com"],
    login-list-item[title="instagram.com"],
    .container:has(.column .title > [title="account.y8.com"]),
    .container:has(.column .title > [title="account.firefox.com"]),
    .container:has(.column .title > [title="account.google.com"]),
    .container:has(.column .title > [title="archive.org"]),
    .container:has(.column .title > [title="freebitco.in"]),
    .container:has(.column .title > [title="gab.com"]),
    .container:has(.column .title > [title="github.com"]),
    .container:has(.column .title > [title="instagram.y8.com"]),
    .container:has(.column .title > [title="login.live.com"]),
    .container:has(.column .title > [title="login.microsoftonline.com"]),
    .container:has(.column .title > [title="paypal.com"]),
    .container:has(.column .title > [title="rumble.com"]) {
      display: none !important;
    }
    /*.container:has(.column) {
      display: none !important;
    }*/
    login-list-item[username="johannes.vanderperk@student.etf.edu"],
    login-list-item[title="auth.faithlife.com"],
    login-list-item[title="proquest.com"],
    login-list-item[title="search.ebscohost.com"],
    .container:has(.column .title > [title="auth.faithlife.com"]),
    .container:has(.column .title > [title="login.microsoftonline.com"]),
    .container:has(.column .title > [title="proquest.com"]),
    .container:has(.column .title > [title="search.ebscohost.com"]) {
      display: none !important;
    }
    
    .count[data-l10n-id^="login-list"] {
      visibility: collapse !important;
    }
    .menu:not([hidden]) > button.menuitem-export {
      visibility: collapse !important;
    }
    .count[data-l10n-id^="login-list"] {
      visibility: collapse !important;
    }
    login-list-item[username^="jp29ni"] {
      visibility: collapse !important;
    }
    login-list-item[username^="jycrosoft"] {
      visibility: collapse !important;
    }
    login-list-item[username^="eppincognitum"] {
      visibility: collapse !important;
    }
    login-list-item[username^="johnyp36official"] {
      visibility: collapse !important;
    }
    login-list-item[title="freebitco.in"] {
      visibility: collapse !important;
    }
    login-list-item[title="github.com"] {
      visibility: collapse !important;
    }
    login-list-item[title="instagram.com"] {
      visibility: collapse !important;
    }
    .container:has(.column .title > [title="account.y8.com"]) {
      visibility: collapse !important;
    }
    .container:has(.column .title > [title="account.firefox.com"]) {
      visibility: collapse !important;
    }
    .container:has(.column .title > [title="account.google.com"]) {
      visibility: collapse !important;
    }
    .container:has(.column .title > [title="archive.org"]) {
      visibility: collapse !important;
    }
    .container:has(.column .title > [title="freebitco.in"]) {
      visibility: collapse !important;
    }
    .container:has(.column .title > [title="gab.com"]) {
      visibility: collapse !important;
    }
    .container:has(.column .title > [title="github.com"]) {
      visibility: collapse !important;
    }
    .container:has(.column .title > [title="instagram.y8.com"]) {
      visibility: collapse !important;
    }
    .container:has(.column .title > [title="login.live.com"]) {
      visibility: collapse !important;
    }
    .container:has(.column .title > [title="login.microsoftonline.com"]) {
      visibility: collapse !important;
    }
    .container:has(.column .title > [title="paypal.com"]) {
      visibility: collapse !important;
    }
    .container:has(.column .title > [title="rumble.com"]) {
      visibility: collapse !important;
    }
    login-list-item[username="johannes.vanderperk@student.etf.edu"],
    login-list-item[title="auth.faithlife.com"],
    login-list-item[title="proquest.com"],
    login-list-item[title="search.ebscohost.com"],
    .container:has(.column .title > [title="auth.faithlife.com"]),
    .container:has(.column .title > [title="login.microsoftonline.com"]),
    .container:has(.column .title > [title="proquest.com"]),
    .container:has(.column .title > [title="search.ebscohost.com"]) {
      visibility: collapse !important;
    }
    [role="listbox"][data-l10n-id="login-list"] {
      scrollbar-width: none !important;
    }
  }
  @-moz-document url("about:preferences"),
                 url-prefix("about:preferences") {
    /* #addonsButton.sidebar-footer-link,
    [data-category="panePrivacy"] #savePasswords {
      cursor: default;
      pointer-events: none;
    } */
    [data-category="paneGeneral"] #browserContainersExtensionContent.extension-controlled.info-box-container,
    [data-category="panePrivacy"] #showPasswords,
    [data-category="panePrivacy"] #masterPasswordRow {
      display: none !important;
      visibility: hidden !important;
    }
    [data-category="panePrivacy"] #passwordAutofillCheckbox {
      display: none !important;
      visibility: hidden !important;
    }
    [data-category="paneGeneral"] #browserContainersbox #browserContainersCheckbox {
      opacity: 1 !important;
    }
  }
  @-moz-document url("about:about"),
                 url-prefix("about:about") {
    a[href="about:logins"],
    li:has(a[href="about:logins"]),
    li:has(a[href="about:config"]),
    li:has(a[href="about:debugging"]) {
      display: none !important;
    }
  }
  @-moz-document url("about:processes"),
                 url-prefix("about:processes") {
    .process:has([data-l10n-id="about-processes-extension-process"]) {
      display: none !important;
      visibility: hidden !important;
    }
  }
  @-moz-document url("about:debugging"),
                 url-prefix("about:debugging") {
    section.qa-debug-target-pane:nth-of-type(1),
    section.qa-debug-target-pane:nth-of-type(2) h2.main-subheading,
    ul.debug-target-list > li.card[data-qa-target-type="extension"]:has([title="uExtra"]),
    ul.debug-target-list > li.card[data-qa-target-type="extension"]:has([title="Redirector"]),
    ul.debug-target-list > li.card[data-qa-target-type="extension"]:has([title="Windscribe - Free Proxy and Ad Blocker"]),
    ul.debug-target-list > li.card[data-qa-target-type="extension"]:has([title="Authenticator"]),
    ul.debug-target-list > li.card[data-qa-target-type="extension"]:has([title="Multi-Account Containers (Wildcard)"]),
    ul.debug-target-list > li.card[data-qa-target-type="extension"]:has([title="YT Nonstop"]),
    ul.debug-target-list > li.card[data-qa-target-type="extension"]:has([title="LocalCDN"]),
    ul.debug-target-list > li.card[data-qa-target-type="extension"]:has([title="Bypass Paywalls Clean"]) {
      display: none !important;
      visibility: hidden !important;
    }
  }
  @-moz-document url("about:support"),
                 url-prefix("about:support") {
    tbody#addons-tbody > tr:nth-of-type(7),
    tbody#addons-tbody > tr:nth-of-type(9),
    tbody#addons-tbody > tr:nth-of-type(13),
    tbody#addons-tbody > tr:nth-of-type(14),
    tbody#addons-tbody > tr:nth-of-type(15),
    tbody#addons-tbody > tr:nth-of-type(17),
    tbody#addons-tbody > tr:nth-of-type(19),
    tbody#addons-tbody > tr:nth-of-type(20),
    tbody#addons-tbody > tr:nth-of-type(22),
    h2#legacyUserStylesheets,
    table:has(#legacyUserStylesheets-info-tbody) {
      display: none !important;
      visibility: hidden !important;
    }
  }
  @-moz-document url("about:config"),
                 url-prefix("about:config") {
    tr.has-user-value {
      display: none !important;
      visibility: hidden !important;
    }
  }
  @-moz-document url-prefix("moz-extension://48257024-52cf-4295-81fc-991effeb0c07") {
    .tabButton[data-pane="1p-filters.html"] {
      display: none !important;
    }
    .tabButton[data-pane="whitelist.html"] {
      display: none !important;
    }
    .tabButton[data-pane="dyna-rules.html"] {
      display: none !important;
    }
    .body > div[class="a b c d"] {
      display: none !important;
    }
    div#lists .listEntry[data-key="user"] {
      display: none !important;
    }
    div#lists .listEntry[data-key="regions"] .listEntry[data-key="NLD-0"] a.support, 
    div#lists .listEntry[data-key="regions"] .listEntry[data-key="NLD-0"] a.content {
      display: none !important;
    }
    div#lists .listEntry[data-key="custom"] > .detailbar > span.nodestats {
      display: none !important;
    }
    div#lists .listEntry[data-key="custom"] > .listEntries > .listEntry[data-key^="https://raw.githubusercontent.com/"] {
      display: none !important;
    }
  }
}